@import '../../scss/color.scss';


.home{
    background-color: $black;
    padding:10px 30px 100px;
    box-sizing: border-box;
    &__days{
        color: $white;
        &-title{
            text-transform: capitalize;
            font-size: 32px;
            margin-bottom: 20px;
        }
        &-content{
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
        }
    }
}
.collection{
    margin-bottom: 30px;
    &__title{
        text-transform: capitalize;
        font-size: 32px;
        font-weight: 700;
        line-height: 36px;
        margin: 20px 0 ;
        color: $white;
    }
    &__content{
        display:flex;
        flex-wrap: wrap;
    }
}